[submodule "h5ai-nginx"]
	path = h5ai-nginx
	url = https://github.com/sourcifyeth/h5ai-nginx
[submodule "sourcify"]
	path = sourcify
	url = https://github.com/ethereum/sourcify.git
[submodule "tools/foundry/lib/forge-std"]
	path = tools/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
