{{- if .Values.ui.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "sourcify.name" . }}-ui
  labels:
    {{- include "sourcify.ui.labels" . | nindent 4 }}
  {{- if .Values.ui.annotations }}
  annotations:
  {{ toYaml .Values.ui.annotations | indent 4 }}
  {{- end }}    
spec:
  {{- if not .Values.ui.autoscaling.enabled }}
  replicas: {{ .Values.ui.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
    {{- include "sourcify.ui.labels" . | nindent 6 }}
  template:
    metadata:
      {{- if .Values.ui.podAnnotations }}
      annotations:
        {{- toYaml .Values.ui.podAnnotations | nindent 8 }}
      {{- end }}
      labels:
        {{- include "ui.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ template "sourcify.ui.serviceAccountName" . }}
      {{- if .Values.ui.podSecurityContext}}
      securityContext:
        {{- toYaml .Values.ui.podSecurityContext | nindent 8 }}
      {{- end }}  
      containers:
        - name: {{ .Chart.Name }}-ui
          securityContext:
            {{- toYaml .Values.ui,securityContext | nindent 12 }}
          image: "{{ .Values.image.ui }}:{{ .Values.image.ui.tag | default "ui-latest" }}"
          imagePullPolicy: {{ .Values.image.ui.pullPolicy }}
          ports:
            - name: https
              containerPort: 443
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: https
          readinessProbe:
            httpGet:
              path: /
              port: https
          {{- if .Values.ui.resources }}
          resources:
            {{- toYaml .Values.ui.resources | nindent 12 }}
          {{- end }}
      {{- if .Values.ui.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.ui.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.ui.affinity }}
      affinity:
        {{- toYaml .Values.ui.affinity | nindent 8 }}
      {{- end }}
      {{- if .Values.ui.tolerations }}
      tolerations:
        {{- toYaml .Values.ui.tolerations | nindent 8 }}
      {{- end }}
{{- end -}}