{{- if .Values.reset.previewnet_reset.enabled }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ printf "%s-%s" .Chart.Name "prvw-reset-job" | trimSuffix "-"| trunc 52 }}
spec:
  concurrencyPolicy: Forbid
  # This is purposely set to a date known to never exist.  This should only be run via manual trigger, never by time based trigger
  schedule: "0 0 31 2 *"
  jobTemplate:
    spec:
      backoffLimit: 0
      template:
        spec:
          serviceAccountName: {{ template "sourcify.serverRepository.serviceAccountName" . }}
          restartPolicy: Never        
          containers:
          - name: reset
            image: "{{ .Values.reset.image.repository }}:{{ .Values.reset.image.tag }}"
            imagePullPolicy: {{ .Values.reset.image.pullPolicy }}
            command:
            - /bin/sh
            - -c
            - wget https://raw.githubusercontent.com/hashgraph/hedera-sourcify/main/scripts/hedera-reset-docker.sh ; chmod +x hedera-reset-docker.sh ; ./hedera-reset-docker.sh previewnet
            volumeMounts:
              - name: {{ .Chart.Name }}
                mountPath: /data              
          volumes:
            - name: {{ .Chart.Name }}
              persistentVolumeClaim:
                claimName: {{ template "sourcify.name" . }}-pvc
{{- end }}

---
{{- if .Values.reset.testnet_reset.enabled }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ printf "%s-%s" .Chart.Name "tsnt-reset-job" | trimSuffix "-"| trunc 52 }}
spec:
  concurrencyPolicy: Forbid
  # This is purposely set to a date known to never exist.  This should only be run via manual trigger, never by time based trigger
  schedule: "0 0 31 2 *"
  jobTemplate:
    spec:
      backoffLimit: 0
      template:
        spec:
          serviceAccountName: {{ template "sourcify.serverRepository.serviceAccountName" . }}
          restartPolicy: Never
          containers:
          - name: reset
            image: "{{ .Values.reset.image.repository }}:{{ .Values.reset.image.tag }}"
            imagePullPolicy: {{ .Values.reset.image.pullPolicy }}
            command:
            - /bin/sh
            - -c
            - wget https://raw.githubusercontent.com/hashgraph/hedera-sourcify/main/scripts/hedera-reset-docker.sh ; chmod +x hedera-reset-docker.sh ; ./hedera-reset-dcoker.sh testnet
{{- end }}