name: Publish Images to GitHub Registry

on:
  push:
    # `main` tag is used for integration environment
    branches: [ main ]
    # `v*` tags are used for production environment 
    tags: [ v* ]
  # Manual trigger with custom release tag
  workflow_dispatch:
    inputs:
      version:
        description: "Release tag:"
        type: string
        required: true

env:
  OWNER: hashgraph
  REGISTRY: ghcr.io

jobs:
  docker-image-publish:
    runs-on: smart-contracts-linux-large
    permissions:
      contents: read
      id-token: write
      packages: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 18

      - name: Install make
        run: sudo apt-get update; sudo apt-get install build-essential -y

      - name: Apply Sourcify server patch customizations
        run: npm run server:patch
 
      - name: Get tag
        run: |
          if [[ "${{ github.event.inputs.version }}" ]]; then
            echo "TAG=${{ github.event.inputs.version }}" >> $GITHUB_ENV
          elif [[ "$GITHUB_REF_TYPE" == "tag" ]]; then
            echo "TAG=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV
          else
            echo "TAG=main" >> $GITHUB_ENV
          fi

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Qemu
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build and push UI image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          cache-from: type=gha,scope=build-ui
          cache-to: type=gha,mode=max,scope=build-ui

          context: ./ui
          file: ./ui/Dockerfile
          platforms: linux/amd64, linux/arm64
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository }}/ui:${{env.TAG}}

      - name: Build and push SERVER image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          cache-from: type=gha,scope=build-server
          cache-to: type=gha,mode=max,scope=build-server

          context: ./sourcify

          # The `scripts` context is used to `COPY` the reset network script into the `server` container.
          # Use `additional_contexts` to access the `scripts` folder outside main context.
          # See https://docs.docker.com/compose/compose-file/build/#additional_contexts for more details.
          build-contexts: |
            scripts=./scripts

          # The `Dockerfile.server` used here is basically the same as the one provided by Sourcify.
          # It adds instructions to include the reset network script into the container.
          file: ./Dockerfile.server
          platforms: linux/amd64, linux/arm64
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository }}/server:${{env.TAG}}

      - name: Build and Push REPOSITORY Image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          cache-from: type=gha,scope=build-repository
          cache-to: type=gha,mode=max,scope=build-repository

          context: ./h5ai-nginx

          # From https://github.com/ethereum/sourcify/issues/1385
          #
          # The `repository` service provides a link to open each verified contract in Remix.
          # However, for public self-hosted Sourcify instances (like in the case of Hedera) the _Open repo in Remix_ link does not work,
          # given the Remix plugin only fetches contracts from https://repo.sourcify.dev.
          # 
          # When `HIDE_OPEN_IN_REMIX` is set to 1, a patch to remove the link is applied.
          # See https://github.com/sourcifyeth/h5ai-nginx/pull/5 for more details.
          build-args: |
            HIDE_OPEN_IN_REMIX=1
          file: ./h5ai-nginx/Dockerfile
          platforms: linux/amd64, linux/arm64
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository }}/repository:${{env.TAG}}

  # helm chart release
  helm-chart-release:
    runs-on: smart-contracts-linux-medium
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Publish helm chart
        uses: step-security/helm-gh-pages@616180123f50f1296942fd9982119baa053e1daf # v1.7.5
        with:
          target_dir: charts
          token: ${{ secrets.GITHUB_TOKEN }}
