name: Release Docker Image to GitHub

on:
  workflow_dispatch:

permissions:
  packages: write

env:
  OWNER: hashgraph
  PACKAGE_NAME: source-verify
  REGISTRY: ghcr.io

jobs:
  docker-image-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set-up env
        run: cp ./environments/.env.server.hedera ./environments/.env

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Qemu
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push UI image
        uses: docker/build-push-action@v2
        with:
          context: ./ui
          file: ./ui/Dockerfile
          platforms: linux/amd64, linux/arm64
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository }}:ui-latest

      - name: Build and push SERVER image
        uses: docker/build-push-action@v2
        with:
          context: ./src
          file: ./src/Dockerfile.server
          platforms: linux/amd64, linux/arm64
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository }}:server-latest
