name: Integration Tests

on:
  workflow_dispatch:
  pull_request:

jobs:

  server-ganache:
    name: server over Ganache integration tests
    runs-on: smart-contracts-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 18

      - name: Install make
        run: sudo apt-get update; sudo apt-get install build-essential -y

      - name: Apply Sourcify server patch customizations
        run: npm run server:patch

      - name: Compile Sourcify server
        working-directory: ./sourcify
        run: |
          npm ci
          npm run build:lerna

      - name: Install clean npm instance
        run: npm ci

      - name: Run npm test server
        run: npm run test:server

  server-local-node:
    name: server over Hedera's local node integration tests
    runs-on: smart-contracts-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
          
      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 18

      - name: Install make
        run: sudo apt-get update; sudo apt-get install build-essential -y

      - name: Apply Sourcify server patch customizations
        run: npm run server:patch

      - name: Install npm dependencies
        run: npm ci

      - name: Start Hedera Local Node
        run: npm run local-node:start

      - name: Start Sourcify server
        working-directory: ./sourcify
        run: |
          npm ci
          npm run build:lerna
          cp ../test/sourcify-chains.json ./services/server/dist/ 
          (npm run server:start&)

      - name: Wait for hedera-sourcify server
        uses: iFaxity/wait-on-action@a7d13170ec542bdca4ef8ac4b15e9c6aa00a6866 # v1.2.1
        with:
          resource: http://127.0.0.1:5555/chains

      - name: Start tests
        run: npm run test:hedera
